.form-name {
  order: 1;
  margin-bottom: 25px;
}

.form-name__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.form-name__label {
  display: flex;
  flex-direction: column;
  width: 280px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.form-name__label span {
  margin-bottom: 5px;
  margin-left: 22px;
}

.form-name__input {
  width: 100%;
  height: 63px;
  margin: 0 0 17px 0;
  padding: 0 0 0 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;

  background: none;
  border: 2px solid #e5e5e5;
  outline: none;

  &::placeholder {
    color: #283645;

    opacity: 1;
  }

  &:hover,
  &:focus {
    border-color: #283645;
  }

  &:active {
    border-color: #d22856;
  }
}

@media (min-width: @tablet-width) {
  .form-name {
    margin-bottom: 0;
  }

  .form-name__label {
    flex-direction: row;
    align-items: baseline;
    width: 620px;
  }

  .form-name__label span {
    margin-right: 19px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .form-name__input {
    margin-bottom: 52px;
  }
}

@media (min-width: @desktop-width) {
  .form-name__label {
    flex-direction: row;
    align-items: baseline;
    width: 435px;
  }

  .form-name {
    margin-top: 51px;
    margin-bottom: 0;
  }
}
