.form-review {
  width: 320px;
  padding: 0 20px;
}

.form-review__legend {
  margin: 0 auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: @pink;
  text-transform: uppercase;
}

.form-review__fieldset {
  margin: 0;
  padding: 16px 0 0 0;

  border: none;
}

.form-review__text {
  width: 100%;
  min-height: 201px;
  margin: 0;
  padding: 14px 18px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  color: @dark-blue;

  border: 2px solid @gray;
  outline: none;

  resize: none;

  &::placeholder {
    color: @dark-blue;

    opacity: 1;
  }

  &:hover,
  &:focus {
    border-color: @dark-blue;
  }

  &:active {
    border-color: @pink;
  }
}


@media (min-width: @tablet-width) {
  .form-review {
    order: 5;
    width: 620px;
    margin-bottom: 67px;
    padding: 0;

    background: none;
  }

  .form-review__fieldset {
    padding: 37px 58px 47px 58px;

    border: 2px solid @gray;
  }

  .form-review__legend {
    width: 262px;
  }

  .form-review__text {
    min-height: 193px;
  }
}

@media (min-width: @desktop-width) {
  .form-review {
    width: 940px;
    margin-bottom: 65px;
  }

  .form-review__fieldset {
    padding: 34px 58px 39px 58px;
  }

  .form-review__text {
    min-height: 128px;
  }
}
