
.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 11px;
}

.post-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding: 20px 22px 32px 19px;

  background-color: @light-gray;
}

.post-form__title {
  width: 280px;
  margin: 0 auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.post-form__titles-container {
  margin-bottom: 41px;
}

.post-form__container {
  padding-top: 40px;
}

.post-form__fieldset {
  margin: 0 0 38px 0;
  padding: 0;

  text-align: center;

  border: none;
  border-bottom: 1px solid #dddfe0;
}

.post-form__button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 235px;
  margin: 0 auto 23px auto;

  text-align: center;
}

.post-form__button-adjustment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin: 0 13px 0 13px;
  padding: 0;

  background: none;
  border: none;
  outline: none;

  & svg {
    opacity: 0.3;

    fill: @dark-blue;
  }

  &:hover svg,
  &:focus svg {
    opacity: 0.5;
  }

  &:active svg,
  &--active svg {
    opacity: 1;

    fill: @pink;
  }
}

.post-form__adjustment {
  width: 100%;

  opacity: 0;
}

.post-form__adjustment-container {
  position: relative;

  width: 245px;
  margin: 0 auto;

  outline: none;

  &--optional {
    margin-bottom: 23px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 2px;

    background-color: @dark-blue;
  }

  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;

    width: 14px;
    height: 14px;
    margin-top: -6px;

    background-color: @light-gray;
    border: 2px solid @pink;
    border-radius: 15px;
  }

  & span:active {
    background-color: @pink;
  }
}

.post-form__button {
  display: block;
  width: 280px;
  margin-bottom: 10px;
  padding: 14px 36px 15px 36px;

  font-weight: 700;
  font-size: 18px;
  color: @pink;
  text-decoration: none;

  background-color: @light-gray;
  border: 3px solid @pink;
  border-radius: 30px;
  outline: none;

  &:hover,
  &:focus {
    color: @white;

    background-color: @pink;
  }

  &:active {
    color: #e08195;
  }

  &--reset {
    color: #dddfe0;

    border-color: #dddfe0;

    &:hover,
    &:focus {
      color: #c4c6c8;

      background: none;
      border-color: #b5b9be;
    }

    &:active {
      color: #cdd0d3;

      background-color: #b5b9be;
    }
  }
}

.post-form__adjustment-list {
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.post-form__adjustment-item {
  display: flex;
  align-items: center;
  width: 275px;
  height: 56px;
  margin-bottom: 16px;
  margin-left: auto;
  padding-top: 16px;
  padding-right: 18px;
  padding-bottom: 34px;

  border-bottom: 1px solid #dddfe0;

  & svg {
    fill: @pink;
  }

  &:nth-child(1) {
    & span {
      left: 72%;
    }
  }

  &:nth-child(2) {
    & span {
      left: 12%;
    }
  }

  &:nth-child(3) {
    & span {
      left: 47%;
    }
  }
}

@media (min-width: @tablet-width) {
  .post-form {
    margin-bottom: 15px;
  }

  .post-form__titles-container {
    margin-bottom: 48px;
    padding: 20px 40px;
  }

  .post-form__fieldset {
    position: relative;

    margin-bottom: 49px;

    border: none;
  }

  .post-form__title {
    width: 450px;

    font-size: 18px;
  }

  .post-form__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 660px;
    padding: 56px 20px 53px 20px;

    & img {
      width: 300px;
      height: 400px;
    }
  }

  .post-form__container {
    width: 300px;
    height: 400px;
    padding: 0;
  }

  .post-form__button-wrapper {
    position: absolute;
    top: -8px;
    left: 27px;

    flex-direction: column;
    width: 50px;
  }

  .post-form__button-adjustment {
    width: 24px;
    height: 56px;
    margin: 0 0 16px 0;

    & svg {
      width: 24px;
      height: 24px;

      opacity: 1;

      fill: @pink;
    }

    &:nth-child(2) {
      padding-top: 5px;
    }

    &:nth-child(3) {
      padding-left: 3px;

      & svg {
        width: 16px;
        height: 16px;
      }
    }

    &:hover svg,
    &:focus svg {
      opacity: 1;
    }
  }

  .post-form__adjustment-container {
    width: 200px;
    margin: 0 0 0 auto;

    &--optional {
      display: none;
    }
  }

  .post-form__adjustment-list {
    display: flex;
  }

  .post-form__button {
    width: 260px;
    margin-right: 13px;
    margin-bottom: 24px;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .post-form__wrapper {
    justify-content: space-around;
    width: 940px;
    padding: 55px 20px 56px 36px;
  }

  .post-form {
    margin-bottom: 80px;
  }

  .post-form__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 410px;
  }

  .post-form__titles-container {
    margin-bottom: 46px;
  }

  .post-form__buttons-container {
    display: flex;
    justify-content: space-between;
    width: 410px;
    padding-left: 3px;
  }

  .post-form__button {
    width: 183px;
    margin: 0;
  }

  .post-form__adjustment-item {
    width: 410px;
    padding-right: 26px;
    padding-left: 2px;

    &:nth-child(1) {
      & span {
        left: 25%;
      }
    }

    &:nth-child(2) {
      & span {
        left: 86%;
      }
    }

    &:nth-child(3) {
      & span {
        left: 56%;
      }
    }
  }

  .post-form__adjustment-container {
    width: 288px;
  }

  .post-form__button-wrapper {
    left: 1px;
  }

  .post-form__button-adjustment {
    width: 48px;
    height: 56px;
    margin: 0 0 16px 0;

    & svg {
      width: 48px;
      height: 48px;
    }

    &:nth-child(2) {
      padding-top: 5px;
    }

    &:nth-child(3) {
      padding-left: 3px;

      & svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
