.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 176px;
  margin: 0 0 25px 0;
  padding: 0;

  list-style: none;
}

.socials__item {
  width: 50px;
  height: 50px;
}


.socials__link {
  outline: none;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;

  border: 3px solid #e9ebec;
  border-radius: 25px;

  &--youtube {
    padding-left: 4px;
  }

  &:hover,
  &:focus {
    border-color: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .socials {
    margin: 0 0 0 -18px;
  }
}

@media (min-width: @desktop-width) {
  .socials {
    margin: 0 0 0 10px;
  }
}
