.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;
  padding: 40px 20px 20px 20px;
  overflow: hidden;

  background-color: #f2f2f2;
}

.advantages__main-title {
  margin: 0 0 26px 0;

  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.advantages__second-title {
  margin-bottom: 102px;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -94px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  //  width: 280px;
  margin: 0 0 21px 0;
  padding: 10px 5px;

  list-style: none;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  //  padding: 10px 5px;
  //  width: 260px;
  margin-bottom: 31px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__image-item--disabled {
  display: none;
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.advantages__description {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}


@media (min-width: @tablet-width) {
  .advantages {
    background: none;
  }

  .advantages__main-title {
    margin: 0;

    font-size: 40px;
    line-height: 48px;
  }

  .advantages__second-title {
    width: 350px;
    margin-bottom: 50px;
  }

  .advantages__wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 660px;
    margin-bottom: -89px;
    padding: 0 20px;

    background-color: #f2f2f2;
  }

  .advantages__image {
    width: 268px;
    height: 550px;
  }

  .advantages__list {
    align-items: flex-start;
    width: 310px;
    padding: 0;
  }

  .advantages__item {
    align-items: flex-start;
  }

  .advantages__description {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-top: 47px;
  }

  .advantages__wrapper {
    flex-direction: column-reverse;
    width: 1200px;
    margin-bottom: 0;
  }

  .advantages__main-title {
    font-size: 50px;
    line-height: 60px;
  }

  .advantages__second-title {
    width: 450px;
    margin-bottom: 80px;
  }

  .advantages__item {
    align-items: center;
    width: 240px;
    margin: 0;

    text-align: center;
  }

  .advantages__image {
    width: 180px;
    height: 305px;
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    width: 880px;
    margin-bottom: 44px;
  }

  .advantages__image-item--disabled {
    display: block;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 25px;
  }
}
