.contest-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.contest-form__name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.contest-form__title {
  width: 280px;
  margin: 40px 0 40px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.contest-form__input {
  width: 280px;
  height: 64px;
  margin: 5px 0 20px 0;
  padding: 0 0 0 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;

  background: none;
  border: 2px solid #e5e5e5;
}

.contest-form__label {
  align-self: flex-start;
  margin-left: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.contest-form__achievement-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  margin-bottom: 30px;
  padding-bottom: 20px;

  background-color: #f2f2f2;
}

.contest-form__description {
  align-self: center;
  width: 250px;
  margin-top: 40px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  text-transform: uppercase;
}

.contest-form__checkbox,
.contest-form__platform-checkbox {
  opacity: 0;
}

.contest-form__checkbox-label {
  position: relative;

  margin-bottom: 30px;
  margin-left: 90px;

  font-weight: 400px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.contest-form__checkbox-label:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -70px;

  display: block;
  width: 38px;
  height: 38px;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.contest-form__contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.contest-form__platform-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  margin-bottom: 30px;
  padding-bottom: 20px;

  background-color: #f2f2f2;
}

.contest-form__platform-container .contest-form__checkbox-label:before {
  border-radius: 19px;
}

.contest-form__review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.contest-form__review-container .contest-form__label {
  align-self: center;
  margin: 0 0 10px 0;
}

.contest-form__review {
  width: 280px;
  min-height: 200px;
  margin-bottom: 30px;
  padding: 10px 10px 10px 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;

  border: 2px solid #e5e5e5;
}

.contest-form__submit {
  width: 280px;
  height: 64px;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: none;
  border-radius: 3px;
}

.contest-form__required {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
