
.form-platform {
  order: 4;
  width: 320px;
  margin-bottom: 33px;
  padding-top: 38px;

  background-color: #f2f2f2;
}

.form-platform__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}


.form-platform__legend {
  width: 250px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  text-transform: uppercase;
}

.form-platform__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px 25px 90px;
}

.form-platform__checkbox {
  position: absolute;
  top: -3px;
  left: -70px;

  opacity: 0;
}

.form-platform__label {
  position: relative;

  margin-bottom: 45px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -70px;

    display: block;
    width: 39px;
    height: 39px;

    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }
}

.form-platform__label:last-child {
  margin-bottom: 20px;
}


@media (min-width: @tablet-width) {
  .form-platform {
    order: 2;
    width: 620px;
    margin-bottom: 57px;
    padding-top: 6px;

    background: none;
  }

  .form-platform__fieldset {
    border: 2px solid #e5e5e5;
  }

  .form-platform__container {
    padding-top: 48px;
    padding-bottom: 39px;
    padding-left: 118px;
  }

  .form-platform__label::before {
    left: -60px;
  }

  .form-platform__legend {
    width: 370px;
  }
}

@media (min-width: @desktop-width) {
  .form-platform {
    order: 2;
    width: 435px;
    margin-top: -20px;
    margin-bottom: 0;

    background: none;
  }

  .form-platform__container {
    padding-top: 51px;
    padding-bottom: 38px;
    padding-left: 134px;
  }
}
