.main-nav {
  position: absolute;
  z-index: 10;

  display: flex;
  display: none;
  flex-direction: column;
  min-width: 320px;

  background-color: #283645;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  position: absolute;
  top: 22px;
  left: 250px;

  display: block;
  //  left: 270px;
  width: 44px;
  //  width: 24px;
  height: 24px;
  //  background: url(../img/icon-menu-cross.svg) no-repeat;

  background: url(../img/icon-menu-burger.svg) no-repeat;
  background-color: transparent;
  border: none;
}
