.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: #283645;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  flex-direction: column;
  padding: 15px 10px;

  text-align: center;

  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.main-nav__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 620px;

    background-color: transparent;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__link {
    font-weight: 400;
    text-transform: none;

    border: none;
  }

  .main-nav__item {
    border: none;
  }
}
