.page-wrapper {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0%;
  margin: 0 auto;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .page-wrapper {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-wrapper {
    width: 1200px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0%;
    margin: 0 auto;
  }
}

