.page-header {
//  width: 320px;
  height: 462px;

  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
//  background-position: top left;
  //  position: absolute;
}

.page-header__logo {
}

.page-header__wrapper {
//  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  width: 320px;
  //  background-color: #283645;
  //  border-bottom: 1px solid #000000;

//  width: 320px;
  background-color: rgba(40, 0, 0, 0.3);
}

.page-header__nav-toggle {
  width: 44px;
  height: 24px;
  //  background: url(../img/icon-menu-cross.svg) no-repeat;

  background: url("../img/icon-menu-burger.svg") no-repeat;
  background-color: transparent;
  border: none;
}


@media (min-width: @tablet-width) {
  .page-header {
    width: 660px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;

  }

  .page-header__wrapper {
    width: 660px;
    height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1200px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0%;
  }
  .page-header__wrapper {
    width: 1200px;

  }

  .page-header__nav-toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
  }

  .page-header__wrapper {
    justify-content: space-around;
  }
}
