.page-header {
  background-color: #283645;
  width: 320px;
}

.page-header__logo {

  padding: 0;
  display: flex;
  height: 70px;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #000000;
}

.page-header__logo-image {
}
