.page-header {
  width: 320px;
  margin: 0 auto 110px auto;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-header__logo-image {
  width: 75px;
  height: 24px;
}

.page-header__logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 320px;
  padding: 0 30px;
  background-color: #283645;
  border-bottom: 1px solid #000000;
}

.page-header__nav-toggle {
  width: 44px;
  height: 24px;
  background: url("../img/icon-menu-burger.svg") no-repeat;
  background-color: transparent;
  border: none;
  display: none;
}


@media (min-width: @tablet-width) {
  .page-header {
    width: 660px;
    margin-bottom: 72px;
  }

  .page-header__logo-wrapper {
    height: 110px;
    width: 660px;
    border-bottom: 1px solid #000000;
  }
}


@media (min-width: @desktop-width) {
  .page-header {
    width: 1200px;
  }

  .page-header__wrapper {
    width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 120px;
    background-color: rgba(40, 0, 0, 0.3);
  }

  .page-header__logo-wrapper {
    width: 170px;
    background: none;
    border: none;
  }
}
