.promo-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  margin: 0;
  margin-top: 35px;
  padding: 0;
}

.promo-icons__item {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-icons__link {
  display: block;
  align-items: center;
  margin-right: 18px;
  margin-left: 15px;
}
