.promo {
  margin: 0;
  padding-top: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
//  background-color: #1d2631;
}

.promo__download-button {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin-top: 28px;
  padding: 11px 36px 14px 36px;
  display: block;
  border: 3px solid white;
  border-radius: 30px;
  text-decoration: none;

}

.promo__image {
  align-self: flex-start;
}

.promo__wrapper {
  display: flex;
  min-width: 320px;
  flex-direction: column;
  background-color: #1d2631;
  align-items: center;
}

.promo__description {
  color: #ffffff;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding: 0px 30px;
  margin-bottom: 30px;
}
