.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.promo__download-button {
  display: block;
  margin-top: 28px;
  padding: 11px 36px 14px 36px;

  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;

  border: 3px solid white;
  border-radius: 30px;
}

.promo__image {
  z-index: 5;

  align-self: flex-start;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;

  background-color: #1d2631;
}

.promo__description {
  margin-bottom: 30px;
  padding: 0 30px;

  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .promo {
    width: 660px;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .promo__wrapper {
    width: 300px;
    background: none;
  }
}
