.reviews {
  margin-top: -40px;

  background-color: #ffffff;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__list {
  align-content: center;
  width: 320px;
  margin: 0 0 30px 0;
  padding: 20px 0 0 0;

  list-style: none;

  background-color: #ffffff;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__author {
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.reviews__text {
  width: 280px;
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.reviews__toggles {
  margin-bottom: 50px;
}

@media(min-width: @tablet-width) {
  .reviews {
    display: flex;
    align-items: center;
    width: 660px;
    margin: 0;
  }

  .reviews__list {
    width: 660px;
  }
}
