.reviews {
  margin-bottom: 42px;

  background-color: #ffffff;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.reviews__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 33px 0;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.reviews__author-age {
  display: none;
}

.reviews__author {
  margin-bottom: 13px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.reviews__author-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.reviews__text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.reviews__toggles {
  margin-bottom: 0;
}

.reviews__arrow {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 660px;
    margin: 0 0 22px 0;
  }

  .reviews__item {
    flex-direction: column-reverse;
    width: 620px;
    padding: 0;
  }

  .reviews__author {
    margin-bottom: 3px;

    font-size: 20px;
  }

  .reviews__author-age {
    display: block;
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
  }

  .reviews__text {
    margin-bottom: 35px;

    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 1200px;
    padding: 0 120px;
    margin: 0 0 8px 0;
  }

  .reviews__quotes {
    width: 80px;
    height: 66px;
    margin-bottom: 44px;
    margin-left: 7px;

    background: url("../img/icon-quotes.svg") no-repeat;
  }

  .reviews__arrow {
    display: block;
    width: 22px;
    height: 42px;
    padding: 0;
    font-size: 0;
    color: transparent;
    border: none;
    margin-top: 27px;
    margin-left: 10px;
    margin-right: 10px;
    background: url("../img/icon-review-arrow-left.svg");

    &:last-child {
      transform: rotate(180deg);
    }
  }

  .reviews__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .reviews__item {
    width: 750px;
  }

  .reviews__author {
    font-size: 24px;
  }

  .reviews__author-age {
    font-size: 18px;
  }

  .reviews__toggles {
    display: none;
  }
}
